body {
    margin: 0;
    overflow: hidden;
}

.all {
    background: #1B244A;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 10px solid red;
    border-radius: 25px;
}

.container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 25px;
    color: white;
}

.score {
    font-family: 'Cursed Timer ULiL', sans-serif;                                    
    text-align: center;
    padding-top: 15px;
    background-color: black;
    color: red; 
    font-size: 90px;
    box-shadow: white 0px 0px 20px;
    border-radius: 15px;
       
}

h3 {
    margin: 20px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

button {
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #1B244A;
    color: white;
    font-family: 'cursed timer ULil', sans-serif;
    font-size: 20px;
    padding: 7px 7px;
    border-radius: 8px;
}

.delete {
    display: flex;
    justify-content: center;
    width: 140px;
    margin: 0px auto 20px auto;
}

